body {
  background-color: #20232A;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

.brand {
  top: 0;
  padding: 10px;
}

.brand img {
  width: 50px;
}

.sidenav {
  background-color: #282C35;
}

.sidenav img {
  width: 50%;
  padding: 20px;
}

nav li a {
  color: #fff;

}

.sidenav li a {
  color: #fff;
  font-size: 18px;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

}

.content {
  width: 100%;
  text-align: center;
  color: #fff;
}

.content img {
  width: 100%;
}

.content p {
  line-height: 17px;
  margin-top: -15px;
}

.media-social {
  text-align: center; 
  padding: 10px;
  
}

.media-social i {
  color: #fff;
  padding: 15px;
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

 
.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.8;
  z-index: -1;
  
}

.btn-floating {
  background-color:#00F0FF;
}

.btn-floating:hover,
.btn-floating:focus {
  background-color: #282C35;
  
}
